*{
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
}
.anime{
    animation: animate 300ms linear;
    /* transition : all 2s linear; */
}

@keyframes animate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

::selection{
    background-color: rgb(252, 182, 182);
    color : inherit;
}